<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzti.practice.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzti.practice.entity.Log">
        <id column="id" property="id" />
        <result column="createtime" property="createtime" />
        <result column="operation" property="operation" />
        <result column="workNumber" property="workNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createtime, operation, workNumber
    </sql>

</mapper>
